.tools {
  display: flex;
  .tools-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 46px;
    min-height: 36px;
    padding: 6px;
    color: black;
    &__icon {
      width: 18px;
      height: 18px;
    }
    &__text {
      margin-left: 4px;
      font-size: 12px;
    }
  }
}
.arco-dropdown-menu-selected {
  color: rgb(23, 93, 255) !important;
  background-color: rgb(242, 243, 245) !important;
}
